.App {
    text-align: center;
    /* margin-top: 15%; */
  }
  
  #main-logo{
    width: 360px;
  }

  #mainpage-main-content{
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    margin-top: 10%;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #mainpage-main-content{
      margin-top: 40%;
    }

    .main-search-container{
      width: 100% !important;
    }
    .hidden-keyword-options{
      width: 100vw !important;
    }
  }

  .hidden-keyword-options{
    position: fixed;
    bottom: -100%;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    transition: bottom 0.5s ease-in-out;
    z-index: 999;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .slide-up {
    transform: translateY(0);
    bottom: 0;
  }