.datacell-parent{
    width: 500px;
    border-right: 1px solid #f1f1f1;
}

.center-point{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dataset-header{
    font-weight: bold;
    padding-right: 1%;
}

@media (max-width: 1200px) {
    .datacell-parent{
        width: auto;
        padding-right: 15%;
    }
    .center-point{
        flex-direction: column;
        text-align: center;
    }
    .dataset-header{
        padding-right: 0%;
    }
}

@media (max-width: 1000px) {
    .organize-year-author-source{
        text-align: center;
    }
    .separator {
        display: none !important;
    }
}

.separator {
    display: inline; /* Show the separator on larger screens */
    margin: 0 5px; /* Add margin for spacing */
  }

.organize-year-author-source{
    margin-top: -3%;
}