.keyword-sidebar-parent{
    border: 1px solid #E5E5E5;
    background: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
    padding: 10%;
}

.keyword-parent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.keyword{
    background-color: #FF8029;
    border-radius: 5%;
    color: white;
    /* text-align: center; */
    margin-top: 2%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyword:hover{
    background-color: grey;
}

.keyword *{
    text-align: center;
}

.title-and-add-button{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
}

#add-button{
    background-color: #FF8029;
    border: #FF8029;
}

#add-button:hover{
    background-color: #faa369;
}

.branded-orange{
    background-color: #FF8029 !important;
    border: #FF8029 !important;
}