.main-table{
    border: 1px solid #dee2e6;
}

.inner-table{
    padding-top: 2%;
    margin-top: 3%;
}

tr:hover td{
    background-color: #F1F1F1;
}

.main-option-button {
    background-color: rgba(244, 146, 46, 0.42) !important;
    color: white;
    border: 0.0px solid black !important;
  }

  .main-option-button-selected {
    background-color: #F7931D !important;
    color: white;
    border: 0.0px solid black !important;
  }

.main-option-button:hover {
    background-color: #F7931D !important;
    color: white;
  }