.fix-search-nav{
    display: flex;
    flex-direction: row !important;
}



@media only screen and (max-width: 991px) {
    /* For mobile phones: */
    .fix-search-nav *{
        margin-right: 5% !important;
    }
    #search-nav-text{
        display: flex;
        flex-direction: row;
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .nav-content{
        display: flex !important;
        justify-content: center !important;
    }
  }
